/*
Theme Name:zBench
Theme URI:http://zww.me/archives/25131
Description:It is a simple WordPress theme without any plugin needed (support plugin WP-PageNavi, WP Page Numbers, WP-PostViews, wp-utf8-excerpt, Related Posts of Simple Tags, WP-RecentComments), little images, custom-menu, widgets, threaded-comments. For WordPress version 3.0+
Version:1.3.9
Author:zwwooooo
Author URI:http://zww.me/
Tags:custom-menu, threaded-comments, two-columns, fixed-width, right-sidebar, theme-options

License:GNU General Public License, v2 (or newer)
License URI:http://www.gnu.org/licenses/old-licenses/gpl-2.0.html

*/

/* RESET */
*{margin:0;padding:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
/* BASIC */
abbr[title], acronym[title]{border-bottom:thin solid;cursor:help;}
body{background:#f7f7f7;font-size:12px;font-family:Tahoma,Arial,Helvetica,sans-serif;color:#333;text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1{font-size:24px;line-height:30px;}
h2{font-size:20px;line-height:26px;}
h3{font-size:16px;line-height:24px;}
h4{font-size:14px;line-height:20px;}
h5{font-size:14px;line-height:20px;}
h6{font-size:14px;line-height:20px;}
small{font-size:10px;line-height:16px;}
dl{font-size:12px;}
dt{font-weight:bold;}
a{color:#047;text-decoration:none;outline:none;}
a:hover{color:#4a630f;text-decoration:none;}
fieldset,img{border:none;}
hr{color:#ddd;background-color:#ddd;height:1px;border:0px;}
.clear{clear:both;margin:0;padding:0;}
.hidden{display:none;}

/* radius */
#search,
#sidebar-border,#sidebar,
.sticky,
#commentform textarea,
.page-title,.page-title h1,
#header_image,#header_image_border{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
#rss_wrap,.rss_wrap{-moz-border-radius:18px;-webkit-border-radius:18px;border-radius:18px;}
#author,#email,#url,#submit{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#menus a,
#menus ul.menus-m li{-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;}
#menus ul ul a{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}

/* #nav */
#nav{z-index:5;position:relative;height:31px;padding-top:20px;clear:both;background:#454546;}
.nav-inside{position:relative;max-width:960px;height:31px;margin:0 auto;}
#menus{float:left;max-width:680px;font-size:14px;text-shadow:0 1px 0 #000;}
#menus ul{list-style:none;}
#menus ul.menus-m{display:none;}
#menus li{float:left;position:relative;margin-right:8px;}
#menus li:hover > a{background:#222;color:#fff;}
#menus li a,
#menus ul.menus-m li{border:1px solid #555;border-bottom:none;color:#abaaaa;display:block;line-height:30px;background:#333;padding:0 10px;}
#menus ul li.current_page_item > a,
#menus ul li.current-menu-ancestor > a,
#menus ul li.current-menu-item > a,
#menus ul li.current-menu-parent > a,
#menus ul.menus-m li{background:#f7f7f7;color:#333;text-shadow:0 1px 0 #fff;}
#menus ul li.current_page_item:hover > a,
#menus ul li.current-menu-ancestor:hover > a,
#menus ul li.current-menu-item:hover > a,
#menus ul li.current-menu-parent:hover > a{background:#222;color:#fff;text-shadow:0 1px 0 #000;}
#menus ul li:hover > ul{display:block;}
#menus ul ul a{background:#222;width:160px;height:auto;color:#abaaaa;text-shadow:0 0 0 #222;}
#menus ul ul{display:none;position:absolute;top:31px;left:0;float:left;width:150px;z-index:99999;}
#menus ul ul li{min-width:150px;}
#menus ul ul li.current_page_item > a,
#menus ul ul li.current-menu-ancestor > a,
#menus ul ul li.current-menu-item > a,
#menus ul ul li.current-menu-parent > a{background:#222;color:#fff;text-shadow:0 0 0 #222;}
#menus ul ul ul{left:100%;top:0;}

/* #search */
#search{position:absolute;overflow:hidden;right:33px;bottom:-14px;width:230px;height:26px;background:#565657;border:1px solid #999;box-shadow:2px 2px 5px #333;-moz-box-shadow:2px 2px 5px #333;-webkit-box-shadow:2px 2px 5px #333;}
#search form{padding:0;}
#search input#s{width:190px;height:14px;background:transparent;border:none;color:#ddd;padding:6px;font-size:12px;}
#search form input#searchsubmit{cursor:pointer;position:absolute;right:2px;top:0;width:30px;height:26px;padding-left:30px;background:#565657 url('images/search-input-bg.gif') no-repeat right 0;border:none;border-left:1px solid #999;text-indent:-9999px;}

/* #header */
#header{clear:both;overflow:hidden;z-index:1;position:relative;max-width:960px;margin:30px auto 0;}
.site_title{overflow:hidden;margin-bottom:30px;}
.st_hidden .site_title{display:none;}
.site_title h1{float:left;padding:0 0 0 10px;text-shadow:1px 1px 1px #999;font-size:28px;font-family:Georgia,"Times New Roman",Times,serif;}
.site_title h1 a{color:#222;line-height:36px;}
.site_title h1 .header_logo a{overflow:hidden;display:block;width:100%;height:36px;text-indent:-9999px;}
.site_title h2{float:left;height:20px;overflow:hidden;line-height:18px;padding:10px 0 0 20px;color:#222;font-size:12px;font-weight:normal;text-shadow:0 1px 0 #fff;}
#header_image{max-width:952px;max-height:182px;margin-bottom:30px;padding:3px;border:1px solid #ccc;}
.st_hidden #header_image{margin-top:10px;}
#header_image_border{overflow:hidden;width:100%;height:100%;background:#565657;border:1px solid #fff;}
#header_image_border img{width:100%;height:auto;}

/* #wrapper */
#wrapper{clear:left;overflow:hidden;margin:0 auto;max-width:960px;}

/* #content */
#content,#content_ns{overflow:hidden;float:left;width:640px;padding:0;}
.LorR #content{float:right;}
#content_ns,.LorR #content_ns{float:none;width:100%;}
.page-title{margin:0 0 20px;background:#eee;border:1px solid #ccc;}
.page-title h1{font-size:18px;height:30px;line-height:30px;padding:5px 10px;border:1px solid #fff;}
.page-title-paged{font-weight:normal;color:#999;}

/* #post */
.post{position:relative;margin:0 0 22px;padding:0;}
.post_ns{}
.post-single{margin:0;}
.post-page{margin:0;border-bottom:1px solid #fff;}
.post-page-nocomment{border-bottom:none;}
h2.title{border-bottom:1px solid #fafafa;font-size:18px;text-shadow:0 1px 0 #fff,1px 2px 2px #aaa;padding:5px 10px;color:#345;}
h2.title a{color:#345;}
h2.title a:hover{color:#4a630f;}
.entry{font-size:13px;overflow:hidden;padding:0 10px;}
.entry ul,.entry ol{margin:0 30px 22px;}
.entry li{line-height:22px;}
.entry hr{display:block;margin:22px 0;}
.entry p{line-height:22px;margin:0 0 22px 0;}
.entry h1,.entry h2,.entry h3,.entry h4,.entry h5,.entry h6,
.comment-text h1,.comment-text h2,.comment-text h3,.comment-text h4,.comment-text h5,.comment-text h6{margin:0 0 22px 0;color:#555;}
.entry a{color:#4a630f;}
.entry a:hover{color:#333;text-decoration:underline;}
.entry img{max-width:99%;height:auto;margin:10px 0;}
.entry img.attachment-extra-featured-image{margin:0 0 22px;}
.entry img.wp-smiley{background:#fff;border:none;margin:0;padding:0;}
.entry .alignleft,.entry img.alignleft{display:inline;float:left;margin:10px 10px 10px 0;}
.entry .alignright,.entry img.alignright{display:inline;float:right;margin:10px 0 10px 10px;}
.entry .aligncenter,.entry img.aligncenter{clear:both;display:block;margin:10px auto;}
.entry table,
.comment-text table{background:#fff;border:1px solid #ccc;border-width:2px;border-collapse:collapse;margin:5px 0 10px;}
.entry th,.entry td,
.comment-text th,.comment-text td{border:1px solid #ccc;padding:3px 10px;text-align:left;vertical-align:top;}
.entry tr.even td,
.comment-text tr.even td{background:#f7f7f7;}
.entry th,
.comment-text th{background:#edeff0;}
.entry blockquote,
.comment-text blockquote{color:#555;padding:10px;margin:0 0 22px;border:1px solid #ddd;background:#eee;}
.entry code,
.comment-text code{background:#333;color:#ddd;}
.entry pre,
.comment-text pre{overflow:auto;width:95%;line-height:16px;margin:0 0 22px;padding:0 5px 16px;color:#555;font-family:"Courier New",FixedSys;font-size:12px;background:#fafafa;border:1px solid #ccc;border-left:15px solid #ccc;}
.post-info-top{border-top:1px solid #ddd;line-height:18px;height:18px;position:relative;color:#999;margin:0 0 22px;padding:2px 10px;display:block;}
.post-info-top-nocomment{height:1px;}
.post-info-bottom{border-bottom:1px solid #fff;line-height:24px;position:relative;color:#999;margin:0;padding:2px 10px;overflow:hidden;display:block;}
.post-info-top a,.post-info-bottom a{color:#999;}
.post-info-top a:hover,.post-info-bottom a:hover{color:#4a630f;text-decoration:underline;}
.entry p.read-more a,.entry p a.more-link,.post-info-date,.post-info-category,.post-info-tags,.gotocomments,.addcomment{display:block;padding-left:20px;background:url("images/icons.gif") no-repeat scroll 0 0;}
.post-info-date{float:left;background-position:0 -40px;}
.post-info-category{display:inline;background-position:-35px -60px;}
.post-info-tags{display:inline;background-position:-20px -240px;margin-left:10px;}
.gotocomments{float:right;background-position:0 -100px;margin-right:10px;}
.addcomment{float:right;background-position:0 -120px;}
.entry p.read-more a,.entry p a.more-link{display:inline-block;color:#999;text-decoration:none;background-position:0 -20px;}
.entry .zbench-more-link{display:block;margin-top:22px;}
.entry p.read-more a:hover,.entry p a.more-link:hover{color:#4a630f;}
.sticky{margin-top:12px;background:#f2f2f2;border:1px solid #ccc;}
h2.sticky-h2 a{color:#ff4e00;}
.page_link{clear:both;padding:10px 0 22px;}
.add-info{padding:0 10px;}
.add-info h3{line-height:16px;font-size:12px;color:#4a630f;margin-bottom:5px;background:#e5e5e5;}
.add-info ul{list-style:square;}

/* #sidebar-border */
#sidebar-border{position:relative;float:right;width:298px;margin-top:12px;background:#f2f2f2;border:1px solid #ccc;}
.LorR #sidebar-border{float:left;}
/* #rss */
#rss_border{position:absolute;top:-12px;left:0;width:298px;height:24px;}
.rss_border{float:left;position:relative;top:0;left:50%;}
#rss_wrap{float:left;position:relative;right:50%;top:0;height:22px;border:1px solid #ccc;}
.rss_wrap{height:20px;padding:0 5px 0 10px;color:#464646;border:1px solid #fff;background-color:#f7f7f7;}
.rss_wrap a{float:left;width:20px;height:20px;line-height:20px;margin-right:5px;text-indent:-9999em;}
.rss_wrap a.rss{background:url("images/icons.gif") no-repeat -60px 0;}
.rss_wrap a.rss_text{width:auto;text-indent:20px;}
.rss_wrap a.facebook{background:url("images/icons.gif") no-repeat -20px 0;}
.rss_wrap a.twitter{background:url("images/icons.gif") no-repeat -40px 0;}
.rss_wrap a.googleplus{background:url("images/icons.gif") no-repeat 0 0;}
/* #sidebar */
#sidebar{overflow:hidden;width:276px;border:1px solid #fff;padding:20px 10px 10px;}
#sidebar a{color:#555;text-shadow:0 1px 0 #fafafa;}
#sidebar a:hover{color:#999;}
#sidebar h3,#sidebar h2{text-shadow:0 1px 0 #f7f7f7,1px 2px 3px #999;color:#345;font-size:16px;margin:0;padding:0 5px;line-height:30px;border-bottom:1px solid #fff;}
#sidebar li{line-height:20px;}
#sidebar .widget{margin-bottom:10px;}
#sidebar .widget div{padding:8px 5px;border-top:1px solid #ddd;}
#sidebar .widget div div{padding:0;border-top:none;}
#sidebar .widget div.clear{padding:0;margin:0;border:none;}
#sidebar ul{list-style:none;padding:8px 5px;border-top:1px solid #ddd;}
#sidebar ul li{padding-left:15px;background:url("images/icons.gif") no-repeat 0 -280px;}
#sidebar ul li:hover{background:url("images/icons.gif") no-repeat -10px -260px;}
#sidebar ul ul{padding:0;border-top:none;}
#sidebar .widget select{width:260px;margin:8px 5px;padding:3px;}
/* widget */
#sidebar .widget input#s{width:190px;height:22px;line-height:22px;padding:0 5px;}
#sidebar .widget input#searchsubmit{width:65px;}
/* WP-RecentComments */
#sidebar ul li.rc-item,#sidebar ul li.rc-navi{background:none;padding:0;margin:3px 0;}
#sidebar ul li.rc-item div{padding:0;border:none;}
#sidebar ul li.rc-item .rc-avatar img{border:1px solid #ddd;}

/* #comments */
#comments-div{border-top:1px solid #ddd;position:relative;line-height:24px;height:24px;text-shadow:0 1px 0 #f7f7f7,1px 2px 1px #999;text-align:right;margin:0 0 30px;padding:2px 10px;}
h2#comments{line-height:24px;font-size:12px;font-weight:normal;width:300px;float:right;}
span#comments-addcomment{position:absolute;left:10px;top:2px;padding-left:20px;background:url("images/icons.gif") no-repeat 0 -115px;}
span#comments-addcomment a{color:#047;text-decoration:none;}
span#comments-addcomment a:hover{color:#4a630f;text-decoration:none;}

/* comments list style */
.commentlist li{position:relative;list-style:none;height:1%;margin:0 20px;padding-bottom:20px;}
.commentlist li.bypostauthor{}
.commentlist li .comment-author{margin:0;padding:0;line-height:16px;height:16px;border-bottom:1px solid #ddd;display:block;}
.commentlist li .pingback{height:auto;padding-bottom:10px;border-bottom:none;}
.commentlist li .vcard img.avatar{position:absolute;left:0;top:0;width:40px;height:40px;background:#fff;padding:2px;border:1px solid #ddd;}
.commentlist li .vcard cite.fn{margin-left:55px;font-style:normal;font-weight:bold;}
.commentlist li .vcard cite.zbench_pingback{margin-left:0;font-weight:normal;color:#999;}
.commentlist li .vcard cite.fn a.url{color:#047;}
.commentlist li .vcard cite.fn a.url:hover{color:#aaa;}
.commentlist li span.comment-meta{}
.commentlist li span.comment-meta a{color:#aaa;}
.commentlist li span.comment-meta a:hover{color:#555;}
.commentlist li .comment-text{border-top:1px solid #fff;margin:0 50px 10px 55px;padding-top:10px;}
.commentlist li.bypostauthor .comment-text{color:#777;}
.commentlist li em.approved{color:#f00;}
.commentlist li p{padding-bottom:10px;}
.commentlist li .reply{position:absolute;right:0;top:8px;}
.commentlist li .reply a{display:block;text-align:center;color:#aaa;padding:0 8px;background:#fafafa;border:1px solid #dfdfdf;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
.commentlist li .reply a:hover{background:#f2f2f2;}
.commentlist li .children li{margin:0 0 0 30px;padding-bottom:0;border-bottom:none;color:#555;}
.commentlist li .children li.depth-2{margin:0 0 0 55px;}
.commentlist li .children li div{border-top:1px solid #dfdfdf;}
.commentlist li .children li div div{border-top:none;}
.commentlist li .children li .comment-author{border-top:1px solid #fff;border-bottom:none;}
.commentlist li .children li .vcard img.avatar{top:-8px;width:24px;height:24px;}
.commentlist li .children li .vcard cite.fn{margin-left:40px;}
.commentlist li .children li .comment-text{margin:0 50px 10px 40px;}
.commentlist li .children li .reply{top:-8px;}
.commentlist li .children li .reply a{background:#f2f2f2;}
.commentlist li .children li .reply a:hover{background:#fafafa;}
.commentlist .comment-text ul,.commentlist .comment-text ol{margin:0 0 15px 15px;padding:0;}
.commentlist .comment-text li{list-style-type:disc;margin:0;padding:0;line-height:16px;}
.commentlist .comment-text li li{list-style-type:circle;}
.commentlist .comment-text li li li{list-style-type:square;}
.commentlist .comment-text ol li,
.commentlist .comment-text ol ol li,
.commentlist .comment-text ol ol ol li{list-style-type:decimal;}

/* navigation */
#pagination,#nav-below{display:block;line-height:18px;padding:2px 10px;border-top:1px solid #ddd;}
.navigation{border-bottom:1px solid #fff;text-align:center;line-height:24px;padding:2px 10px;}
.page-numbers{margin:0 5px;}
.navigation .current{font-weight:bold;}
#nav-below{display:inline-block;padding:20px 10px;border-top:1px solid #ddd;border-bottom:1px solid #fff;}
.nav-previous{float:left;width:49%;}
.nav-next{float:right;width:49%;text-align:right;}

/* #respond */
#respond{margin:0 0 20px 0;padding:20px 55px 0;border-top:1px solid #ddd;}
#respond small{font-size:12px;}
#respond h2,#respond h3{text-shadow:0 1px 0 #f7f7f7,1px 2px 3px #111;font-family:Georgia,"Times New Roman",Times,serif;margin-bottom:10px;}
#respond a#cancel-comment-reply-link{color:#920017;text-shadow:none;}
#respond a#cancel-comment-reply-link:hover{color:#ff4e00;}
#commentform{margin:0;padding:0;}
#commentform p{margin:0 0 10px;padding:0;}
#commentform p.smilies{margin:0 0 3px;padding:0 3px;}
#commentform p.comment-notes{margin:10px 0;color:#999;}
#commentform textarea{padding:3px;background:#fff;border:1px solid #ddd;}
#commentform .comment-form-comment label{display:none;}
#author,#email,#url{max-width:220px;width:70%;height:16px;margin-right:5px;padding:3px;border:1px solid #ddd;background:#fff;}
#comment{width:99%;height:125px;}
#submit{cursor:pointer;padding:5px 20px;background:#222;border:1px solid #555;font-weight:bold;font-size:14px;color:#ccc;letter-spacing:3px;}
#submit:hover{color:#fff;}
#respond code{color:#464646;background:none;}

/* trackbacks-pingbacks */
.trackbacks-pingbacks h3{font-weight:bold;margin-bottom:10px;border-bottom:1px solid #ddd;color:#555;padding:3px 0;}
.trackbacks-pingbacks ul{margin:5px 20px 15px;list-style-type:circle;}
.trackbacks-pingbacks ul li{margin-bottom:4px;}

/* #footer */
#footer{overflow:hidden;margin:20px auto 0;padding:0 0 20px;background:#454546;}
#footer-inside{position:relative;width:640px;margin:0 auto;padding:5px 320px 5px 0;color:#aaa;}
#footer-inside a{border-bottom:1px dashed #aaa;color:#aaa;}
#footer-inside #back-to-top{position:absolute;top:5px;right:150px;line-height:20px;color:#fafafa;font-weight:bold;}
#footer-inside #back-to-top a{line-height:20px;color:#aaa;font-weight:normal;border:none;}
#footer-inside #back-to-top a:hover{color:#f7f7f7;}

/* Other */
.aligncenter,div.aligncenter{display:block;margin:auto;}
.alignleft{float:left;}
.alignright{float:right;}
.wp-caption{max-width:620px;text-align:center;margin-top:10px;margin-bottom:10px;padding:4px;border-radius:3px;background:#fff;border:1px solid #ddd;}
.wp-caption img{margin:0;padding:0;background:none;}
.wp-caption p.wp-caption-text{font-size:12px;line-height:20px;padding:4px 0 0;margin:0;}
/* calendar START */
.widget_calendar h3{display:none;}
#wp-calendar{width:100%;}
#wp-calendar #today{background:#e6e6e6;}
#wp-calendar tbody a{font-weight:bolder;}
#wp-calendar caption{font-family:Arial;font-weight:bolder;letter-spacing:-0.05em;font-size:150%;text-align:left;padding-bottom:5px;}
#wp-calendar th,#wp-calendar td{text-align:center;}
#wp-calendar tbody td{border:1px solid #ccc;}
#wp-calendar tbody td.pad{border:0 none;}
#wp-calendar th{background:#999;color:#fff;}
#wp-calendar td#prev{text-align:left;padding-top:5px;}
#wp-calendar td#next{text-align:right;padding-top:5px;}
/* .gallery-caption */
#content .gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px;}

/* for Mobile: since 1.3.8 */
@media screen and (max-width:1000px) {
	#nav{padding-top:10px;}
	#menus{position:relative;padding:0 10px 0 25px;}
	#menus ul.menus-m{display:block;}
	#menus ul.menus-dt{overflow:hidden;display:none;z-index:9999;position:absolute;left:25px;top:0;min-width:200px;padding-top:31px;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;}
	#menus li{margin:0;background:#333;}
	#menus li:first-child{padding-top:10px;}
	#menus li a{width:200px;margin:0;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
	#menus ul li.current_page_item > a,
	#menus ul li.current-menu-ancestor > a,
	#menus ul li.current-menu-item > a,
	#menus ul li.current-menu-parent > a{background:#222;color:#eee;text-shadow:none;}
	#menus ul ul{position:static;display:block;}
	#menus ul ul li, #menus ul ul ul li{width:200px;margin-left:19px;background:#333;border-left:1px solid #555;}
	#menus ul ul a, #menus ul ul ul a{width:180px;background:#333;}
	#menus ul ul ul li{width:180px;}
	#menus ul ul ul a{width:160px;}
	#menus ul ul ul li:hover > ul{display:none;}
	#menus ul ul ul ul{display:none;}

	/* simulate click */
	#menus:active .menus-dt{display:block;}
	#menus .menus-dt:hover{display:block;}

	#search{bottom:0;right:25px;width:180px;-webkit-box-shadow:0 0 0 #333;-moz-box-shadow:0 0 0 #333;box-shadow:0 0 0 #333;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;border-bottom:none;}
	#search input#s{width:140px;}

	#header{padding:0 15px;}
	.st_hidden #header_image{margin-top:0;}

	#wrapper{margin:0 15px;}
	#content,
	.LorR #content,
	#sidebar-border,
	.LorR #sidebar-border{float:none;clear:left;width:auto;}
	#sidebar-border,
	.LorR #sidebar-border{margin-top:20px;}
	#sidebar{width:auto;}
	#sidebar .widget{width:276px;float:left;}
	.commentlist li{margin: 0;}
	.commentlist li .children li #respond{padding:20px 40px 0;}
	#footer-inside{position:static;max-width:640px;padding:5px 15px 5px;}
	#footer-inside #back-to-top{position:fixed;top:auto;bottom:10px;right:10px;padding:5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#666;}
}
@media screen and (max-width:400px) {
	.entry pre{width:85%;}
}
